@using MES.Client.Pages.Admin
@using MES.Client.Utitlity
@using MES.Shared.Models
@using MES.Shared;
@using Newtonsoft.Json
@using System.Text
@using MES.Shared.DTOs
@using MES.Shared.Entities
@using System.Net
@using System.ComponentModel.DataAnnotations;
 @using MES.Shared.Models.Rotors


 @inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar
@inject HttpClient HttpClient
@inject IDialogCompletionService CompletionService
 @inject IHttpClientFactory _httpClient
@inject NavigationManager Navigation



<div>
    <MudDialog MaxWidth="MaxWidth.ExtraLarge" FullWidth="true">

        <TitleContent>
            <MudText Typo="Typo.h6">
                <MudIcon Icon="@Icons.Material.Filled.AcUnit" Class="mr-3 mb-n1" />
                SERVICE ROTOR FINAL INSPECTION REPORT
            </MudText>
        </TitleContent>
        <DialogContent>

            <MudForm Class="mt-4 p-4 w-100" id="printForm-section">


                <MudGrid Spacing="3">

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Sales Order</MudText>
                        <MudText Typo="Typo.body1">@Grinding.SalesOrderNumber</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Customer PO#</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.CustomerPoNum</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Customer</MudText>
                        <MudText Typo="Typo.body1">@Grinding.Customer</MudText>
                    </MudItem>

                </MudGrid>

                <MudGrid Spacing="3">

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Dwg#</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.DWGNum</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">AG#</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.AGNum</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Description</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.Description</MudText>
                    </MudItem>

                </MudGrid>

                <MudGrid Spacing="3">

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Material</MudText>
                        <MudText Typo="Typo.body1">@Grinding.Materials</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Special notes / comments</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.SpecialNoteComment</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Dressed With New Bearings</MudText>
                        <MudText Typo="Typo.body1">@selectedDressedwithNewBearing</MudText>
                    </MudItem>

                </MudGrid>

                <!-- Table Section -->
                <MudGrid Class="full-width-grid">
                    <MudItem xs="12" style="text-align: center; width: 100%;">
                        <MudItem md="12" sm="12" xs="12" Class="d-flex justify-center">
                            <div style=" padding: 10px; text-align: center; width: auto; height: auto">
                                <table class="mud-table mud-elevation-1" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Start</th>
                                            <th class="text-center">Finish</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">
                                                <MudTextField T="string" Label="Flute Diameter" ReadOnly />
                                            </td>
                                            <td class="text-center">
                                                <MudTextField T="string" @bind-Value="Grinding.RotorsDia" ReadOnly />
                                            </td>
                                            <td class="text-center">
                                                <MudTextField T="string" @bind-Value="InspectionData.FluteDiameterFinish" ReadOnly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <MudTextField T="string" Label="Land Width" ReadOnly />
                                            </td>
                                            <td class="text-center">
                                                <MudTextField T="string" @bind-Value="InspectionData.LandWidthStart" ReadOnly />
                                            </td>
                                            <td class="text-center">
                                                <MudTextField T="string" @bind-Value="InspectionData.LandWidthFinish" ReadOnly />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <MudTextField T="string" Label="Relief Angle" ReadOnly />
                                            </td>
                                            <td class="text-center">
                                                <MudTextField T="string" @bind-Value="InspectionData.ReliefAngleStart" ReadOnly />
                                            </td>
                                            <td class="text-center">
                                                <MudTextField T="string" @bind-Value="InspectionData.ReliefAngleFinish" ReadOnly />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </MudItem>
                    </MudItem>



                </MudGrid>
                <MudGrid Spacing="3">

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">T.I.R - centers Left</MudText>
                        <MudText Typo="Typo.body1">@Grinding.CentersLeft</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">T.I.R - centers Right</MudText>
                        <MudText Typo="Typo.body1">@Grinding.CentersRight</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Taper Left</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.TaperStart</MudText>
                    </MudItem>

                </MudGrid>

                <MudGrid Spacing="3">

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Taper Right</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.Taperfinish</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Locknut Threads</MudText>
                        <MudText Typo="Typo.body1">@selectedLocknutThreads</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Is the Rotor clean?</MudText>
                        <MudText Typo="Typo.body1">@selectedIstheRotorclean</MudText>
                    </MudItem>

                </MudGrid>

                <MudGrid Spacing="3">

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Journals O.K.?</MudText>
                        <MudText Typo="Typo.body1">@selectedJournalsOK</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Wedgelock assembly</MudText>
                        <MudText Typo="Typo.body1">@selectedWedgelockassembly</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Special Part Wash (if Applicable)</MudText>
                        <MudText Typo="Typo.body1">@selectedSpecialPartWash</MudText>
                    </MudItem>

                </MudGrid>

                <MudGrid Spacing="3">

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Inspector Signature</MudText>
                        <MudText style="font-family:'Brush Script MT'" Typo="Typo.body1">@InspectionData.InspectorSing</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Primary">Comments</MudText>
                        <MudText Typo="Typo.body1">@InspectionData.InspectorComments</MudText>
                    </MudItem>

                    <MudItem md="4" xs="4" class="outlined-box pa-2">
                        <MudText Typo="Typo.h6" Color="Color.Success">OK TO SHIP</MudText>
                        <MudText style="font-family:'Brush Script MT'" Typo="Typo.body1">@InspectionData.Oktoship</MudText>
                    </MudItem>


                </MudGrid>



               @*  <MudGrid style="text-align: center; width: 100%;" Class="d-flex justify-center">
                   
                        <MudItem xs="12" md="6" Class="text-center">
                            <h5>For New Rotors and Spare Parts</h5>
                            <p Class="text-center">Please Call</p>
                            <h6>1.800.844.2927 or 330.677.2225</h6>
                            <p>8:00 am - 5:00 pm, M-F</p>
                        </MudItem>
                  
                </MudGrid> *@

              

            </MudForm>
        </DialogContent>
        <DialogActions>
            <MudButton Class="mr-4 mb-2" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary" OnClick="Print">Print</MudButton>
            <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Error" OnClick="Cancel">Cancel</MudButton>
        </DialogActions>
    </MudDialog>
</div>

<style>


    .field-stack {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; /* Adjust spacing between fields */
        align-items: center; /* Center align horizontally */
    }
</style>


@code {
    [Parameter]
    public RotorsFinalInspection InspectionData { get; set; }
    [Parameter]
    public RotorGrindingData Grinding { get; set; }
    [Parameter]
    public List<RotorsFinalInspection> TableData { get; set; }
    [Parameter]
    public string selectedIstheRotorclean { get; set; }
    [Parameter]
    public string selectedDressedwithNewBearing { get; set; }
    
    [Parameter]
    public string selectedJournalsOK { get; set; }

    [Parameter]
    public string selectedWedgelockassembly { get; set; }

    [Parameter]
    public string selectedSpecialPartWash { get; set; }

    [Parameter]
    public string selectedLocknutThreads { get; set; }


    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    private List<RotorsFinalInspection> tableData = new();

    //  private RotorsFinalInspection FinalInspectionData;
    private RotorsFinalInspection FinalInspectionData = new RotorsFinalInspection();

    private IEnumerable<AppRole> appRoles = new List<AppRole>();

    private void Cancel()
    {
        MudDialog?.Cancel();
    }

    private async Task Print()
    {
       // await JSRuntime.InvokeVoidAsync("printDiv", "printForm-section");
        await JSRuntime.InvokeVoidAsync("printForm");
    }


    protected override async Task OnInitializedAsync()
    {
        if (TableData == null || !TableData.Any())
        {
            tableData = new List<RotorsFinalInspection>
    {
        new RotorsFinalInspection { },

    };
        }
    }


}
