@page "/rfi"

@using MES.Client.Dialog
@using MES.Client.Dialog.FinalInspectionImages
@using MES.Client.Utitlity
@using MES.Shared.Models
@using MES.Shared.Models.Rotors
@using ReactorBlazorQRCodeScanner
@using MES.Client.Dialog.Rotors
@using Newtonsoft.Json
@using System.Text
@using MES.Shared.DTOs
@using MES.Shared.DTOs.MES.Shared.DTOs.Rotors
@using static MES.Client.Pages.LoginVC
@inject IDialogService DialogService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient HttpClient
@inject ISnackbar Snackbar
@inject IDialogCompletionService CompletionService
@inject IHttpClientFactory _httpClient
@inject IJSRuntime JS;

<MudContainer Style="overflow:hidden" Class="mt-5">
    <MudGrid Class="d-flex justify-center">
        @*    <MudItem md="12" sm="12" xs="12" class="d-flex flex-column align-items-center justify-content-center mb-2" style="text-align: center;">
        <MudText Typo="Typo.h6" Style="font-size: 16px;">Incoming Inspection</MudText>
        </MudItem> *@
        <MudItem md="12" sm="12" xs="12" class="d-flex flex-column align-items-center justify-content-center mb-2" style="text-align: center;">
            <div>
                <MudButton @onclick="StartScanning" Variant="Variant.Filled" Color="Color.Primary" Style="width: 100px;">Scan QR</MudButton>
                @if (isCancel)
                {
                    <MudButton @onclick="StopScanning" Variant="Variant.Filled" Color="Color.Error" Style="width: 100px; margin-left:8px;">Cancel</MudButton>
                }
                <MudButton @onclick="OpenFinalrecord" Variant="Variant.Filled" Color="Color.Primary" Style="width: 300px; margin-left:8px;">
                    Final Inspection
                </MudButton>
            </div>
        </MudItem>

        @if (showContent)
        {
            <MudItem xs="12">
                <div class="d-flex justify-content-start mt-2">
                    <MudPaper Elevation="3" Class="pa-3" Style="width: 300px;">
                        <MudList Dense="true">
                            @{
                                var filteredList = Receivealldata
                                .Where(i => i.SerialNumber.Contains(searchTerm, StringComparison.OrdinalIgnoreCase))
                                .ToList();
                            }

                            @if (filteredList.Any())
                            {
                                foreach (var item in filteredList)
                                {
                                    <MudListItem OnClick="() => SelectReceive(item)"
                                                 Button="true"
                                                 Class="@(hoveredReceive == item ? "hover-highlight" : null)"
                                                 @onmouseover="() => hoveredReceive = item"
                                                 @onmouseout="() => hoveredReceive = null">
                                        <MudText>@item.SerialNumber - @item.Customer - @item.Module</MudText>
                                    </MudListItem>
                                }
                            }
                            else
                            {
                                <MudText Class="pa-2 text-muted">No record found</MudText>
                            }
                        </MudList>
                    </MudPaper>
                </div>
            </MudItem>

        }


        <MudItem md="12" sm="12" xs="12" Class="d-flex justify-center align-center">
            @if (isScanning)
            {
                <div class="d-flex justify-center" style="width: 350px; height: 350px;">
                    <QRCodeScanner LoadingMessage="" />
                </div>
            }

        </MudItem>


        @if (showForm)
        {

            <MudItem md="12" sm="12" xs="12" Class="d-flex justify-center align-center">

                @if ((!string.IsNullOrEmpty(qrCodeData)) || (selectedReceive != null) || (serialNumberData != null))
                {
                    <div>
                        <div class="border border-primary p-10 mt-2 d-flex flex-wrap qr-container">

                            @if (!string.IsNullOrEmpty(qrCodeData))
                            {
                                foreach (var item in qrCodeData.Split(',', StringSplitOptions.RemoveEmptyEntries))
                                {
                                    <p class="qr-item">@item.Trim()</p>
                                }
                            }

                            else if (selectedReceive != null)
                            {
                                <p class="qr-item">Report Number: @selectedReceive.SerialNumber</p>
                                <p class="qr-item">Module: @selectedReceive.Module</p>
                                <p class="qr-item">Customer: @selectedReceive.Customer</p>
                                <p class="qr-item">Received Date: @selectedReceive.DateTime</p>

                            }

                        </div>


                        @if (!isExistingSerial && serialNumberData != null)
                        {
                            <div style="margin-top:10px">
                                <MudButton OnClick="OpenPreviewDialogBox"
                                           Class="mr-2"
                                           Color="Color.Primary"
                                           Variant="Variant.Filled">
                                    Incoming Inspection Report
                                </MudButton>

                                <MudButton Class="mr-2"
                                           Color="Color.Secondary"
                                           Variant="Variant.Filled" OnClick="ViewAttachedFile">
                                    Production Order Report
                                </MudButton>
                            </div>
                            <MudCard Class="mt-4 p-4 w-100" id="printForm-section">
                                <MudCardContent>

                                    <MudForm Class="w-100">

                                        <MudGrid>
                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Grinding Start Date" @bind-Value="serialNumberData.GrindingStartDate" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Grinding End Date" @bind-Value="serialNumberData.GrindingdataSubmitedByDate" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Relief Land" @bind-Value="serialNumberData.ReliefLand" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                            </MudGrid>

                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Rotors Dia Left" @bind-Value="serialNumberData.RotorsDiaLeft" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Rotors Dia Right" @bind-Value="serialNumberData.RotorsDiaRight" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>


                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Visual Checks" @bind-Value="serialNumberData.VisualChecks" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                            </MudGrid>
                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Tooth Face Left" @bind-Value="serialNumberData.ToothFaceLeft" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Tooth Face Right" @bind-Value="serialNumberData.ToothFaceRight" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Delay Reason Tracking" @bind-Value="serialNumberData.DelayReasonTracking" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                            </MudGrid>

                                            <MudGrid Spacing="3">


                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Inspected By" @bind-Value=" FinalInspectionData.Inspected" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Notes" @bind-Value="serialNumberData.Notes" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Sales Order" @bind-Value="serialNumberData.SalesOrderNumber" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                            </MudGrid>


                                            <MudGrid Spacing="3">


                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Material" @bind-Value="serialNumberData.Materials" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Customer" @bind-Value="serialNumberData.Customer" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Work Center" @bind-Value="serialNumberData.Workcenters" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                            </MudGrid>

                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Customer PO Number"
                                                                  @bind-Value="FinalInspectionData.CustomerPoNum"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Dwg Number"
                                                                  @bind-Value="FinalInspectionData.DWGNum"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" Required />
                                                </MudItem>

                                                @if (serialNumberData != null && serialNumberData.RotorsNumber == "NEW")
                                                {
                                                    <MudItem xs="12" md="4">
                                                        <MudTextField Label="New Rotors Serial Number"
                                                                      @bind-Value="FinalInspectionData.AGNum"
                                                                      FullWidth="true"
                                                                      Variant="Variant.Outlined" />
                                                    </MudItem>
                                                }
                                                else
                                                {

                                                    <MudItem xs="12" md="4">
                                                        <MudTextField Label="Rotors Serial Number" @bind-Value="serialNumberData.RotorsNumber" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                    </MudItem>
                                                }




                                            </MudGrid>
                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="4">
                                                    <MudSelect T="string" ValueChanged="OnDescription" Label="Description" Variant="Variant.Outlined" Value="selectedDescription" ValueExpression="() => selectedDescription" FullWidth="true" Class="custom-select">
                                                        @foreach (var ber in Description)
                                                        {
                                                            <MudSelectItem Value="@ber">@ber</MudSelectItem>
                                                        }

                                                    </MudSelect>
                                                </MudItem>

                                                @*  <MudItem xs="12" md="4">
                                    <MudTextField Label="Description" @bind-Value="FinalInspectionData.Description" FullWidth="true" Variant="Variant.Outlined" />
                                    </MudItem> *@
                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Special notes / Comments"
                                                                  @bind-Value="FinalInspectionData.SpecialNoteComment"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudSelect T="string" ValueChanged="OnDressedwithNewBearing" Label="Dressed With New Bearings" Variant="Variant.Outlined" Value="selectedDressedwithNewBearing" ValueExpression="() => selectedDressedwithNewBearing" FullWidth="true" Class="custom-select">
                                                        @foreach (var ber in DressedwithNewBearing)
                                                        {
                                                            <MudSelectItem Value="@ber">@ber</MudSelectItem>
                                                        }

                                                    </MudSelect>
                                                </MudItem>

                                            </MudGrid>

                                            <MudGrid Class="full-width-grid">
                                                <MudItem xs="12" style="text-align: center; width: 100%;">
                                                    <MudItem md="12" sm="12" xs="12" Class="d-flex justify-center">
                                                        <div style="border: 2px dotted gray; padding: 10px; text-align: center; width: 250px; height: auto">
                                                            <p>Add images</p>

                                                            <!-- Add Button -->
                                                            <MudItem>
                                                                <MudButton StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@(async () => await AddProjectImagesAsync(new ProjectImgDTO {
                                                            SerialNumber = SelectedProject
                                                        }))">
                                                                    Add
                                                                </MudButton>
                                                            </MudItem>

                                                            <!-- Image Preview -->
                                                            @if (selectedImagesFromSM.Any())
                                                            {
                                                                <div style="margin-top:10px;">
                                                                    <p><b>Total Images:</b> @selectedImagesFromSM.SelectMany(x => x.Images).Count()</p>
                                                                    <!-- You can show the images here too -->
                                                                </div>
                                                            }

                                                        </div>
                                                    </MudItem>
                                                </MudItem>
                                            </MudGrid>
                                            <MudGrid Class="full-width-grid">
                                                <MudItem xs="12" style="text-align: center; width: 100%;">
                                                    <MudItem md="12" sm="12" xs="12" Class="d-flex justify-center">
                                                        <div style=" padding: 10px; text-align: center; width: auto; height: auto">
                                                            <MudTable T="RotorsFinalInspection" Items="@tableData" Elevation="1" Class="my-centered-table">
                                                                <HeaderContent>
                                                                    <MudTh class="text-center">Description</MudTh>
                                                                    <MudTh class="text-center">Start</MudTh>
                                                                    <MudTh class="text-center">Finish</MudTh>

                                                                </HeaderContent>
                                                                <RowTemplate>
                                                                    <MudTd DataLabel="Description" class="text-center">
                                                                        <MudTextField T="string" Label="Flute Diameter" ReadOnly />
                                                                        <MudTextField T="string" Label="Land Width" ReadOnly />
                                                                        <MudTextField T="string" Label="Relief Angle" ReadOnly />

                                                                    </MudTd>
                                                                    <MudTd DataLabel="Start" class="text-center">
                                                                        <MudTextField @bind-Value="serialNumberData.RotorsDia" ReadOnly />
                                                                        <MudTextField @bind-Value="FinalInspectionData.LandWidthStart" />
                                                                        <MudTextField @bind-Value="FinalInspectionData.ReliefAngleStart" />

                                                                    </MudTd>
                                                                    <MudTd DataLabel="Finish" class="text-center">
                                                                        <MudTextField @bind-Value="FinalInspectionData.FluteDiameterFinish" />
                                                                        <MudTextField @bind-Value="FinalInspectionData.LandWidthFinish" />
                                                                        <MudTextField @bind-Value="FinalInspectionData.ReliefAngleFinish" />

                                                                    </MudTd>


                                                                </RowTemplate>
                                                            </MudTable>
                                                        </div>
                                                    </MudItem>
                                                </MudItem>
                                            </MudGrid>


                                            <MudGrid Spacing="3">


                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="T.I.R - Centers Left" @bind-Value="serialNumberData.CentersLeft" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="T.I.R - Centers Right" @bind-Value="serialNumberData.CentersRight" FullWidth="true" Variant="Variant.Outlined" ReadOnly />
                                                </MudItem>

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Taper Left"
                                                                  @bind-Value="FinalInspectionData.TaperStart"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>
                                            </MudGrid>

                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="4">
                                                    <MudTextField Label="Taper Right"
                                                                  @bind-Value="FinalInspectionData.Taperfinish"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudSelect T="string" ValueChanged="OnRBChanged" Label="Locknut Threads" Value="selectedLocknutThreads" Variant="Variant.Outlined" ValueExpression="() => selectedRB" FullWidth="true" Class="custom-select">
                                                        @foreach (var ber in LocknutThreads)
                                                        {
                                                            <MudSelectItem Value="@ber">@ber</MudSelectItem>
                                                        }

                                                    </MudSelect>
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudSelect T="string" ValueChanged="OnIstheRotorcleanChanged" Label="Is the Rotor clean?" Variant="Variant.Outlined" Value="selectedIstheRotorclean" ValueExpression="() => selectedIstheRotorclean" FullWidth="true" Class="custom-select">
                                                        @foreach (var ber in IstheRotorclean)
                                                        {
                                                            <MudSelectItem Value="@ber">@ber</MudSelectItem>
                                                        }

                                                    </MudSelect>
                                                </MudItem>


                                            </MudGrid>

                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="4">
                                                    <MudSelect T="string" ValueChanged="OnselectedJournalsOKChanged" Label="Journals O.K.?" Variant="Variant.Outlined" Value="selectedJournalsOK" ValueExpression="() => selectedJournalsOK" FullWidth="true" Class="custom-select">
                                                        @foreach (var ber in JournalsOK)
                                                        {
                                                            <MudSelectItem Value="@ber">@ber</MudSelectItem>
                                                        }

                                                    </MudSelect>
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudSelect T="string" ValueChanged="OnselectedWedgelockassemblyChanged" Variant="Variant.Outlined" Label="Wedgelock assembly" Value="selectedWedgelockassembly" ValueExpression="() => selectedWedgelockassembly" FullWidth="true" Class="custom-select">
                                                        @foreach (var ber in Wedgelockassembly)
                                                        {
                                                            <MudSelectItem Value="@ber">@ber</MudSelectItem>
                                                        }

                                                    </MudSelect>
                                                </MudItem>
                                                <MudItem xs="12" md="4">
                                                    <MudSelect T="string" ValueChanged="OnselectedSpecialPartWashChanged" Variant="Variant.Outlined" Label="Special Part Wash (if Applicable)" Value="selectedSpecialPartWash" ValueExpression="() => selectedSpecialPartWash" FullWidth="true" Class="custom-select">
                                                        @foreach (var ber in SpecialPartWash)
                                                        {
                                                            <MudSelectItem Value="@ber">@ber</MudSelectItem>
                                                        }

                                                    </MudSelect>
                                                </MudItem>


                                            </MudGrid>

                                            <MudGrid Spacing="3">

                                                <MudItem xs="12" md="6">
                                                    <MudTextField Label="Inspector Signature"
                                                                  @bind-Value="FinalInspectionData.InspectorSing"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>

                                                <MudItem xs="12" md="6">
                                                    <MudTextField Label="Comments"
                                                                  @bind-Value="FinalInspectionData.InspectorComments"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>

                                            </MudGrid>
                                            <MudGrid Spacing="2">
                                                <MudItem xs="12" md="6">
                                                    <MudTextField Label="OK TO SHIP"
                                                                  @bind-Value="FinalInspectionData.Oktoship"
                                                                  FullWidth="true"
                                                                  Variant="Variant.Outlined" />
                                                </MudItem>

                                            </MudGrid>


                                            <MudGrid>
                                                <MudItem xs="12" md="12" Justify="Justify.FlexEnd">
                                                    <div style="display: flex; justify-content: flex-end;">
                                                        <MudButton OnClick="OpenFinalDialogBox"
                                                                   Class="mr-2"
                                                                   Color="Color.Primary"
                                                                   Variant="Variant.Filled">
                                                            Preview
                                                        </MudButton>
                                                        <MudButton OnClick="ClearAll"
                                                                   Class="mr-2"
                                                                   Color="Color.Error"
                                                                   Variant="Variant.Filled">
                                                            Cancel
                                                        </MudButton>
                                                        <MudButton OnClick="Save"
                                                                   Class="mr-2"
                                                                   Color="Color.Tertiary"
                                                                   Variant="Variant.Filled">
                                                            Save
                                                        </MudButton>
                                                        <MudButton OnClick="Submitdata"
                                                                   Class="mr-2"
                                                                   Color="Color.Primary"
                                                                   Variant="Variant.Filled">
                                                            Submit
                                                        </MudButton>


                                                    </div>
                                                </MudItem>
                                            </MudGrid>

                                        </MudGrid>
                                    </MudForm>
                                </MudCardContent>
                            </MudCard>


                        }


                    </div>

                }
                else if (cameraError)
                {
                    <MudText Color="Color.Error">Camera access was blocked. Please allow camera access to scan QR codes.</MudText>
                }
            </MudItem>

        }
    </MudGrid>
</MudContainer>

@code {

    private QRCodeScannerJsInterop? _qrCodeScannerJsInterop;
    private Action<string>? _onQrCodeScanAction;
    private Action<string>? _onCameraPermissionFailedAction;
    private QRCodeScanner qrCodeScanner;
    private string qrCodeData;
    private bool isExistingSerial = false;
    private RotorGrindingData? hoveredReceive;
    private bool showContent = false;
    private string searchTerm = "";
    private DateTime? fromDate = DateTime.Today; // Default to today
    private bool isScanning;
    private List<RotorsFinalInspection> tableData = new();
    private string? SelectedProject { get; set; }
    private RotorFinalInspectionDTO _finalResult;
    private FinalInspectionSubmit tempSubmission = new();
    private bool showForm = true;
    private RotorsFinalInspection FinalInspectionData = new RotorsFinalInspection();
    private RotorsFinalInspection FinalInspection = new RotorsFinalInspection();
    private bool isSubmitted = false;
    private bool isCancel = false;
    private bool cameraError = false;
    private RotorGrindingData serialNumberData;
    private RotorGrindingData selectedReceive;
    private List<RotorGrindingData> Grindingalldata = new();
    // private RotorGrindingData? hoveredReceive;
    // // private Receiving selectedReceive;
    private RotorsFinalInspection FinalInspectiondta;
    private List<string> grindingSerialNumbers = new List<string>();
    public RotorProductionData selectedData { get; set; }
    private List<RotorGrindingData> Receivealldata = new();
    private string errorMessage = "";
    private IncomingInspection IncomingIncData;
    private RotorGrindingData grinding { get; set; } = new RotorGrindingData();
    private IncomingInspection inspection { get; set; } = new IncomingInspection();

    private HashSet<string> scannedSerialNumbers = new HashSet<string>();
    private bool showScanDetails = false;
    public FinalInspectionImageDTO? ProjectimagesData { get; set; }
    private List<FinalInspection> selectedImagesFromSM = new List<FinalInspection>();
    string SelectedSerialNumber;
    string SelectedModuleName;


    private async Task OpenFinalrecord()
    {
        await StopScanning();

        showContent = true;
        showForm = false;
        ClearAll();

        try
        {
            HttpClient = _httpClient.CreateClient("ITS.ServerAPI");

            var response = await HttpClient.GetAsync(ApiConstants.GetAllGrindingData);
            if (response.IsSuccessStatusCode)
            {
                var data = await response.Content.ReadAsStringAsync();
                var allInspections = System.Text.Json.JsonSerializer.Deserialize<List<RotorGrindingData>>(data,
                    new JsonSerializerOptions { PropertyNameCaseInsensitive = true }) ?? new List<RotorGrindingData>();

                // Now filter the list by checking each Serial Number
                var filteredList = new List<RotorGrindingData>();

                foreach (var item in allInspections)
                {

                    // Check if Serial Number exists (Call API for each Serial)
                    var exists = await HttpClient.GetFromJsonAsync<bool>($"{ApiConstants.CheckSerialNumbersales}/{item.SerialNumber}");

                    if (!exists)
                    {
                        // Only add if Serial does not exist
                        filteredList.Add(item);
                    }


                }

                Receivealldata = filteredList;

            }
            else
            {
                errorMessage = $"Error: {response.ReasonPhrase}";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Exception: {ex.Message}";
        }
        finally
        {
            // isLoading = false;
        }
    }


    private List<string> SpecialPartWash = new()
    {
        "Yes",
        "No",
        ""

    };


    public async Task SelectReceive(RotorGrindingData item)
    {
        selectedReceive = item;
        serialNumberData = item;
        SelectedSerialNumber = item.SerialNumber;
        SelectedModuleName = item.Module;

        qrCodeData = null;
        try
        {
            showContent = false;
            var response = await HttpClient.GetFromJsonAsync<FinalInspectionSaveData>(
                $"{ApiConstants.GetAllFIsavedData}?serialNumber={SelectedSerialNumber}&module={SelectedModuleName}");
            //   var rotorSalesDatasresponse = await HttpClient.GetAsync(
            // $"{ApiConstants.GetAllSalessavedData}?serialNumber={inspection.SerialNumber}&module={inspection.Module}&rotorsNumber={inspection.RotorsNumber}");

            if (response != null)
            {
                FinalInspectionData.FluteDiameterFinish = response.FluteDiameterFinish;
                FinalInspectionData.LandWidthFinish = response.LandWidthFinish;
                FinalInspectionData.LandWidthStart = response.LandWidthStart;
                FinalInspectionData.ReliefAngleStart = response.ReliefAngleStart;
                FinalInspectionData.ReliefAngleFinish = response.ReliefAngleFinish;

                FinalInspectionData.TaperStart = response.TaperStart;
                FinalInspectionData.Taperfinish = response.Taperfinish;
                selectedLocknutThreads = response.LocknutThreadsStart;
                selectedIstheRotorclean = response.IstheRotorcleanStart;
                selectedJournalsOK = response.JournalsOKStart;
                selectedWedgelockassembly = response.WedgelockassemblyStart;
                selectedSpecialPartWash = response.SpecialPartWashStart;
                selectedDressedwithNewBearing = response.Dressedwithnewbearing;
                FinalInspectionData.InspectorSing = response.InspectorSing;
                FinalInspectionData.InspectorComments = response.InspectorComments;
                FinalInspectionData.Oktoship = response.Oktoship;

                FinalInspectionData.CustomerPoNum = response.CustomerPoNum;
                FinalInspectionData.DWGNum = response.DWGNum;
                FinalInspectionData.AGNum = response.AGNum;
                FinalInspectionData.SpecialNoteComment = response.SpecialNoteComment;
                FinalInspectionData.Dressedwithnewbearing = response.Dressedwithnewbearing;
                selectedDescription = response.Description;
                var imageResponse = await HttpClient.GetAsync($"{ApiConstants.GetImagesFinal}/{response.SerialNumber}");

                // var imageResponse = await HttpClient.GetAsync($"{ApiConstants.GetImagesbySerialNumber}/{response.SerialNumber}");

                if (imageResponse.IsSuccessStatusCode)
                {
                    var data = await imageResponse.Content.ReadAsStringAsync();

                    //Console.WriteLine(data);

                    try
                    {
                        selectedImagesFromSM = System.Text.Json.JsonSerializer.Deserialize<List<FinalInspection>>(data,
                            new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
                    }
                    catch (Exception ex)
                    {
                        Console.WriteLine("Deserialization failed: " + ex.Message);
                    }


                }











                // if (imageResponse.IsSuccessStatusCode)
                // {
                //     var data = await imageResponse.Content.ReadAsStringAsync();

                //     try
                //     {
                //         var singleInspection = System.Text.Json.JsonSerializer.Deserialize<FinalInspection>(data,
                //             new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                //         selectedImagesFromSM = new List<FinalInspection>();

                //         if (singleInspection != null)
                //         {
                //             selectedImagesFromSM.Add(singleInspection);
                //         }
                //     }
                //     catch (Exception ex)
                //     {
                //         Console.WriteLine("Deserialization failed: " + ex.Message);
                //     }

                // }
                showForm = true;

            }
        }
        catch (HttpRequestException ex)
        {
            // Log or handle if no data found
            //  Console.WriteLine("No matching data found: " + ex.Message);
            showContent = false; // Still show content if you want to allow fresh input
            showForm = true;
            ClearAll();
        }

        StateHasChanged();

    }



    private string selectedSpecialPartWash { get; set; } = "";

    private async Task OnselectedSpecialPartWashChanged(string value)
    {
        selectedSpecialPartWash = value;
    }

    private async Task OnDressedwithNewBearing(string value)
    {
        selectedDressedwithNewBearing = value;
    }

    private List<string> Wedgelockassembly = new()
    {
        "Yes",
        "No",
        ""

    };

    private string selectedWedgelockassembly { get; set; } = "";


    private async Task OnDescription(string value)
    {
        selectedDescription = value;
    }

    private List<string> Description = new()
    {
        "New Rotor",
        "Service Rotor",
        ""

    };//Description

    private string selectedDescription { get; set; } = "";


    private List<string> DressedwithNewBearing = new()
    {
        "Yes",
        "No",
        "N/A"

    };

    private string selectedDressedwithNewBearing { get; set; } = "";

    private async Task OnselectedWedgelockassemblyChanged(string value)
    {
        selectedWedgelockassembly = value;
    }

    private List<string> JournalsOK = new()
    {
        "Yes",
        "No",
        ""

    };

    private string selectedJournalsOK { get; set; } = "";

    private async Task OnselectedJournalsOKChanged(string value)
    {
        selectedJournalsOK = value;
    }

    private List<string> IstheRotorclean = new()
    {
        "Yes",
        "No",
        ""

    };

    private string selectedIstheRotorclean { get; set; } = "";

    private async Task OnIstheRotorcleanChanged(string value)
    {
        selectedIstheRotorclean = value;
    }

    private List<string> LocknutThreads = new()
    {
        "Yes",
        "No",
        ""

    };

    private string selectedLocknutThreads { get; set; } = "";

    private async Task OnRBChanged(string value)
    {
        selectedLocknutThreads = value;
    }

    private async Task OpenFinalDialogBox()
    {
        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                CloseButton = true,
                DisableBackdropClick = true
            };


        var parameters = new DialogParameters
            {//selectedMaterial
                ["TableData"] = tableData,
                ["selectedLocknutThreads"] = selectedLocknutThreads,
                ["selectedIstheRotorclean"] = selectedIstheRotorclean,
                ["selectedJournalsOK"] = selectedJournalsOK,
                ["selectedWedgelockassembly"] = selectedWedgelockassembly,
                ["selectedSpecialPartWash"] = selectedSpecialPartWash,
                ["InspectionData"] = FinalInspectionData,
                ["Grinding"] = serialNumberData,
                ["selectedDressedwithNewBearing"] = selectedDressedwithNewBearing,
                ["selectedDescription"] = selectedDescription,

            };
        // var options = new DialogOptions { FullWidth = true };
        var dialog = await DialogService.ShowAsync<FinalInspectionDialog>("FINAL INSPECTION REPORT", parameters, options);



    }

    private string? lastScannedCode = null;

    private async Task StartScanning()
    {
        showContent = false;
        showForm = false;
        try
        {
            isScanning = true;
            qrCodeData = null;
            cameraError = false;

            _onQrCodeScanAction = (code) => OnQrCodeScan(code);
            _onCameraPermissionFailedAction = (error) => OnCameraPermissionFailed(error);

            _qrCodeScannerJsInterop = new QRCodeScannerJsInterop(JS);
            await _qrCodeScannerJsInterop.Init(_onQrCodeScanAction, _onCameraPermissionFailedAction);

            isCancel = true;
        }
        catch (Exception ex)
        {
            // Handle any unexpected errors
            cameraError = true;
        }

        StateHasChanged(); // Update the UI to show the camera or error message
    }

    private async Task Save()
    {
        var userData = await localStorage.GetItemAsync<UserPagesAndRouter>("UserData");
        string useradd = userData?.UserName ?? "User";
        string useraddemail = userData?.UserEmail ?? "User";

        if (string.IsNullOrWhiteSpace(FinalInspectionData.DWGNum) )
        {
            Snackbar.Add("Please fill in the mandatory fields.", Severity.Warning);
            return;
        }

        // Assign scanned QR Code data if available
        if (!string.IsNullOrEmpty(qrCodeData))
        {
            var qrDetails = qrCodeData.Split(',');

            if (qrDetails.Length >= 3)
            {
                inspection.SerialNumber = ExtractValue(qrDetails[0]);
                inspection.Module = ExtractValue(qrDetails[1]);
            }
            else
            {
                Snackbar.Add("No QR code scanned and no item selected. Please select an item.", Severity.Warning);
                return;
            }
        }
        else if (selectedReceive != null)
        {
            inspection.SerialNumber = selectedReceive.SerialNumber;
            inspection.Module = selectedReceive.Module;
        }
        else
        {
            Snackbar.Add("No QR code scanned. Please scan a QR code before submitting.", Severity.Warning);
            return;
        }

        tempSubmission = new FinalInspectionSubmit
            {
                SerialNumber = serialNumberData.SerialNumber,
                Module = serialNumberData.Module,
                SalesOrderNumber = serialNumberData.SalesOrderNumber,
                WorkOrder = serialNumberData.WorkOrder,
                MatNumber = serialNumberData.MatNumber,
                Customer = serialNumberData.Customer,
                RotorsNumber = serialNumberData.RotorsNumber,
                FluteDiameterStart = serialNumberData.RotorsDia,
                FluteDiameterFinish = FinalInspectionData.FluteDiameterFinish,
                LandWidthFinish = FinalInspectionData.LandWidthFinish,
                LandWidthStart = FinalInspectionData.LandWidthStart,
                ReliefAngleStart = FinalInspectionData.ReliefAngleStart,
                ReliefAngleFinish = FinalInspectionData.ReliefAngleFinish,
                TIRStart = serialNumberData.CentersLeft,
                TIRfinish = serialNumberData.CentersRight,
                TaperStart = FinalInspectionData.TaperStart,
                Taperfinish = FinalInspectionData.Taperfinish,
                LocknutThreadsStart = selectedLocknutThreads,
                IstheRotorcleanStart = selectedIstheRotorclean,
                JournalsOKStart = selectedJournalsOK,
                WedgelockassemblyStart = selectedWedgelockassembly,
                SpecialPartWashStart = selectedSpecialPartWash,
                InspectorSing = FinalInspectionData.InspectorSing,
                InspectorComments = FinalInspectionData.InspectorComments,
                Oktoship = FinalInspectionData.Oktoship,
                Materials = serialNumberData.Materials,
                RotorsDia = serialNumberData.RotorsDia,
                RotorCategorization = serialNumberData.RotorCategorization,
                ComponentType = serialNumberData.ComponentType,
                TargetDate = serialNumberData.TargetDate,
                CustomerImportance = serialNumberData.CustomerImportance,
                AdvancedSharpingStatus = serialNumberData.AdvancedSharpingStatus,
                Workcenters = serialNumberData.Workcenters,
                RotorsDiaLeft = serialNumberData.RotorsDiaLeft,
                RotorsDiaRight = serialNumberData.RotorsDiaRight,
                ReliefLand = serialNumberData.ReliefLand,
                ToothFaceLeft = serialNumberData.ToothFaceLeft,
                ToothFaceRight = serialNumberData.ToothFaceRight,
                CentersLeft = serialNumberData.CentersLeft,
                CentersRight = serialNumberData.CentersRight,
                VisualChecks = serialNumberData.VisualChecks,
                InspectedBy = FinalInspectionData.Inspected,
                GrindingStartDate = serialNumberData.GrindingStartDate,
                GrindingEndDate = serialNumberData.GrindingdataSubmitedByDate,
                Notes = serialNumberData.Notes,
                DelayReasonTracking = serialNumberData.DelayReasonTracking,
                GrindingSubmiteddBy = serialNumberData.GrindingdataSubmiteddBy,
                CustomerPoNum = FinalInspectionData.CustomerPoNum,
                DWGNum = FinalInspectionData.DWGNum,
                AGNum = FinalInspectionData.AGNum,
                SpecialNoteComment = FinalInspectionData.SpecialNoteComment,
                Dressedwithnewbearing = selectedDressedwithNewBearing,
                Description = selectedDescription,
                Start = FinalInspectionData.Start,
                FinalInspectionSubmiteddBy = useradd,
                FinalInspectionSubmitedByDate = DateTime.Now,
            };

        try
        {
            HttpClient = _httpClient.CreateClient("ITS.ServerAPI");

            // Check if data already exists
            var checkUrl = $"{ApiConstants.CheckIfFinalExists}?serialNumber={inspection.SerialNumber}&module={inspection.Module}";
            var checkResponse = await HttpClient.GetAsync(checkUrl);

            if (checkResponse.IsSuccessStatusCode)
            {
                var exists = bool.Parse(await checkResponse.Content.ReadAsStringAsync());

                var jsonPart = Newtonsoft.Json.JsonConvert.SerializeObject(tempSubmission);
                var content = new StringContent(jsonPart, Encoding.UTF8, "application/json");

                HttpResponseMessage response;

                if (exists)
                {
                    // Update existing
                    response = await HttpClient.PutAsync(ApiConstants.UpdateRotorFISavedData, content);

                    var ProjectImageData = await localStorage.GetItemAsync<FinalInspectionImageDTO>("ProjectImageData");
                    var projectjsonData = JsonConvert.SerializeObject(ProjectImageData);
                    var projectimagecontent = new StringContent(projectjsonData, Encoding.UTF8, "application/json");

                    // var projectimageresponse = await HttpClient.PostAsync("https://localhost:7172/api/IncomingImages/addbi", projectimagecontent);
                    var projectimageresponse = await HttpClient.PostAsync(ApiConstants.AddImagesFinal, projectimagecontent);

                    if (projectimageresponse.IsSuccessStatusCode)
                    {
                        await localStorage.RemoveItemAsync("IncomingImageData");
                        // Console.WriteLine("Images added successfully.");

                    }


                }
                else
                {
                    // Create new
                    response = await HttpClient.PostAsync(ApiConstants.AddFinalIISavedData, content);
                    var ProjectImageData = await localStorage.GetItemAsync<FinalInspectionImageDTO>("ProjectImageData");
                    var projectjsonData = JsonConvert.SerializeObject(ProjectImageData);
                    var projectimagecontent = new StringContent(projectjsonData, Encoding.UTF8, "application/json");

                    // var projectimageresponse = await HttpClient.PostAsync("https://localhost:7172/api/IncomingImages/addbi", projectimagecontent);
                    var projectimageresponse = await HttpClient.PostAsync(ApiConstants.AddImagesFinal, projectimagecontent);

                    if (projectimageresponse.IsSuccessStatusCode)
                    {
                        await localStorage.RemoveItemAsync("IncomingImageData");
                        // Console.WriteLine("Images added successfully.");

                    }
                }

                if (response.IsSuccessStatusCode)
                {
                    Snackbar.Add("Final Inspection Data saved successfully!", Severity.Success);
                    showForm = false;
                    ClearAll();
                    StateHasChanged();
                }
                else
                {
                    Snackbar.Add($"Failed to save/update data! Status code: {response.StatusCode}", Severity.Error);
                }
            }
            else
            {
                Snackbar.Add("Error checking for existing record.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error while saving data: {ex.Message}", Severity.Error);
        }
    }


    private async Task Submitdata()
    {
        if (string.IsNullOrWhiteSpace(FinalInspectionData.DWGNum))
        {
            Snackbar.Add("Please fill in the mandatory fields.", Severity.Warning);
            return;
        }
        try
        {
            var userData = await localStorage.GetItemAsync<UserPagesAndRouter>("UserData");
            string useradd = userData?.UserName ?? "User";
            if (userData != null)
            {
                useradd = userData.UserName;

            }

            RotorsFinalInspection FinalInspection = new RotorsFinalInspection()
                {
                    SerialNumber = serialNumberData.SerialNumber,
                    Module = serialNumberData.Module,
                    SalesOrderNumber = serialNumberData.SalesOrderNumber,
                    WorkOrder = serialNumberData.WorkOrder,
                    MatNumber = serialNumberData.MatNumber,
                    Customer = serialNumberData.Customer,                   
                    RotorsNumber = serialNumberData.RotorsNumber,
                    FluteDiameterStart = serialNumberData.RotorsDia,
                    FluteDiameterFinish = FinalInspectionData.FluteDiameterFinish,
                    LandWidthFinish = FinalInspectionData.LandWidthFinish,
                    LandWidthStart = FinalInspectionData.LandWidthStart,
                    ReliefAngleStart = FinalInspectionData.ReliefAngleStart,
                    ReliefAngleFinish = FinalInspectionData.ReliefAngleFinish,
                    TIRStart = serialNumberData.CentersLeft,
                    TIRfinish = serialNumberData.CentersRight,
                    TaperStart = FinalInspectionData.TaperStart,
                    Taperfinish = FinalInspectionData.Taperfinish,
                    LocknutThreadsStart = selectedLocknutThreads,
                    IstheRotorcleanStart = selectedIstheRotorclean,
                    JournalsOKStart = selectedJournalsOK,
                    WedgelockassemblyStart = selectedWedgelockassembly,
                    SpecialPartWashStart = selectedSpecialPartWash,
                    InspectorSing = FinalInspectionData.InspectorSing,
                    InspectorComments = FinalInspectionData.InspectorComments,
                    Oktoship = FinalInspectionData.Oktoship,                    
                    Materials = serialNumberData.Materials,                   
                    RotorsDia = serialNumberData.RotorsDia,
                    RotorCategorization = serialNumberData.RotorCategorization,
                    ComponentType = serialNumberData.ComponentType,
                    TargetDate = serialNumberData.TargetDate,
                    CustomerImportance = serialNumberData.CustomerImportance,
                    AdvancedSharpingStatus = serialNumberData.AdvancedSharpingStatus,
                    Workcenters = serialNumberData.Workcenters,
                    RotorsDiaLeft = serialNumberData.RotorsDiaLeft,
                    RotorsDiaRight = serialNumberData.RotorsDiaRight,
                    ReliefLand = serialNumberData.ReliefLand,
                    ToothFaceLeft = serialNumberData.ToothFaceLeft,
                    ToothFaceRight = serialNumberData.ToothFaceRight,
                    CentersLeft = serialNumberData.CentersLeft,
                    CentersRight = serialNumberData.CentersRight,
                    VisualChecks = serialNumberData.VisualChecks,
                    InspectedBy = FinalInspectionData.Inspected,
                    GrindingStartDate = serialNumberData.GrindingStartDate,
                    GrindingEndDate = serialNumberData.GrindingdataSubmitedByDate,
                    Notes = serialNumberData.Notes,
                    DelayReasonTracking = serialNumberData.DelayReasonTracking,
                    GrindingSubmiteddBy = serialNumberData.GrindingdataSubmiteddBy,
                    CustomerPoNum = FinalInspectionData.CustomerPoNum,
                    DWGNum = FinalInspectionData.DWGNum,
                    AGNum = FinalInspectionData.AGNum,
                    SpecialNoteComment = FinalInspectionData.SpecialNoteComment,
                    Dressedwithnewbearing = selectedDressedwithNewBearing,
                    Description = selectedDescription,
                    Start = FinalInspectionData.Start,
                    FinalInspectionSubmiteddBy = useradd,
                    FinalInspectionSubmitedByDate = DateTime.Now,
                };

            //  var response = await HttpClient.PostAsJsonAsync("https://localhost:7172/api/RotorsFinalInspection/AddFinalInspection", FinalInspection);
            var response = await HttpClient.PostAsJsonAsync(ApiConstants.AddFinalInspectionData, FinalInspection);

            if (response.IsSuccessStatusCode)
            {
                var ProjectImageData = await localStorage.GetItemAsync<FinalInspectionImageDTO>("ProjectImageData");
                var projectjsonData = JsonConvert.SerializeObject(ProjectImageData);
                var projectimagecontent = new StringContent(projectjsonData, Encoding.UTF8, "application/json");

                // var projectimageresponse = await HttpClient.PostAsync(ApiConstants.AddImagesIncoming, projectimagecontent);
                //   var projectimageresponse = await HttpClient.PostAsync("https://localhost:7172/api/FinalInspectionImages/addbi", projectimagecontent);
                var projectimageresponse = await HttpClient.PostAsync(ApiConstants.AddImagesFinal, projectimagecontent);

                if (projectimageresponse.IsSuccessStatusCode)
                {
                    await localStorage.RemoveItemAsync("IncomingImageData");
                    // Console.WriteLine("Images added successfully.");

                }
                Snackbar.Add("Final Inspection data saved successfully!", Severity.Success);
                showForm = false;
                ClearAll();
                isSubmitted = true;

                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Failed to save data.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
        }
    }

    private async Task ViewAttachedFile()
    {
        if (string.IsNullOrEmpty(serialNumberData?.SerialNumber))
        {
            Snackbar.Add("Serial number is missing!", Severity.Warning);
            return;
        }

        try
        {
            HttpClient = _httpClient.CreateClient("ITS.ServerAPI");
            var response = await HttpClient.GetAsync($"{ApiConstants.GetSalesAttachedFileBySerialNumber}/{serialNumberData.SerialNumber}");

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<SalesAttachedFileDto>();
                var fileData = result?.File?.FirstOrDefault();

                if (fileData != null && fileData.Data != null)
                {
                    // Call JavaScript to open the PDF in a new tab
                    await JS.InvokeVoidAsync("openPdfFromByteArray", Convert.ToBase64String(fileData.Data));
                }
                else
                {
                    Snackbar.Add("No file data found.", Severity.Error);
                }
            }
            else
            {
                Snackbar.Add("No file data found.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }

    private async Task OpenPreviewDialogBox()
    {

        if (!string.IsNullOrEmpty(qrCodeData))
        {
            var qrDetails = qrCodeData.Split(',');

            if (qrDetails.Length >= 3) // Ensure QR Code has expected fields
            {
                grinding.SerialNumber = ExtractValue(qrDetails[0]);
                grinding.Module = ExtractValue(qrDetails[1]);

            }
            else
            {
                Snackbar.Add("Invalid QR Code format. Please scan again.", Severity.Warning);
                return;
            }
        }
        else if (selectedReceive != null)
        {
            // Fetch from selected Receive item instead
            serialNumberData.SerialNumber = selectedReceive.SerialNumber;
            serialNumberData.Module = selectedReceive.Module;

        }
        else
        {
            Snackbar.Add("No QR code scanned. Please scan a QR code before submitting.", Severity.Warning);
            return;
        }

        try
        {
            HttpClient = _httpClient.CreateClient("ITS.ServerAPI");

            IncomingIncData = await HttpClient.GetFromJsonAsync<IncomingInspection>(
    $"{ApiConstants.GetIncomingInspectionBySerial}/{serialNumberData.SerialNumber}");

            // Example: Replace with your actual API call
            //  IncomingIncData = await HttpClient.GetFromJsonAsync<IncomingInspection>($"{ApiConstants.GetIncomingInspectionBySerial}/{serialNumberData.SerialNumber}");

            if (IncomingIncData == null)
            {
                Snackbar.Add("No Incoming Inspection data found for this serial number.", Severity.Warning);
                return;
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Failed to fetch inspection data: {ex.Message}", Severity.Error);
            return;
        }

        var options = new DialogOptions
            {
                MaxWidth = MaxWidth.Medium,
                FullWidth = true,
                CloseButton = true,
                DisableBackdropClick = true
            };

        var parameters = new DialogParameters
            {//selectedMaterial
                ["InspectionData"] = serialNumberData,
                ["IncomingInspection"] = IncomingIncData,

            };

        var dialog = DialogService.Show<PreviewIncomingDialog>("INCOMING ROTOR INSPECTION", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            // Update FinalInspection with dialog data (optional)
            if (result.Data is RotorsFinalInspection updatedInspection)
            {
                FinalInspection = updatedInspection;
            }


        }
    }

    private async Task StopScanning()
    {
        isScanning = false;
        isCancel = false;

        if (_qrCodeScannerJsInterop != null)
        {
            await _qrCodeScannerJsInterop.StopRecording();
        }

        StateHasChanged();
    }

    private async void OnQrCodeScan(string code)
    {
        qrCodeData = code;
        isScanning = false;
        isCancel = false;
        _qrCodeScannerJsInterop?.StopRecording();

        var serialNumber = code.Split(',').FirstOrDefault(s => s.StartsWith("Serial Number:"))?.Split(':')[1]?.Trim();
        var url = $"{ApiConstants.CheckSerialNumbersales}/{serialNumber}";

        // Log the URL for debugging
        Console.WriteLine($"Calling API with URL: {url}");

        var exists = await HttpClient.GetFromJsonAsync<bool>(url);

        if (exists)
        {
            Snackbar.Add($"Serial Number '{serialNumber}' already exists.", Severity.Warning);
            isExistingSerial = exists;
            await StopScanning();
            showForm = false;
            StateHasChanged();
            return;
        }
        else if (!string.IsNullOrWhiteSpace(serialNumber))
        {
            await FetchSerialNumberData(serialNumber.Trim());
            showForm = true;
        }
        else
        {
            showForm = false;
        }
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        tableData = new List<RotorsFinalInspection>
    {
        new RotorsFinalInspection { },

    };

        if (serialNumberData != null && serialNumberData.RotorsNumber == "NEW")
        {
            FinalInspectionData.Description = "New Rotor";
        }
        else
        {

            FinalInspectionData.Description = "Service Rotor";
        }


        var userData = await localStorage.GetItemAsync<UserPagesAndRouter>("UserData");

        // Assign user name or default to "User" if userData is null
        string currentuser = userData?.UserName ?? "User";
        FinalInspectionData.Inspected = currentuser;
        // inspection.Received = currentDateTime.ToString();
    }

    private async Task AddProjectImagesAsync(ProjectImgDTO projectImagesDTO)
    {
        if (!string.IsNullOrEmpty(qrCodeData))
        {
            var qrDetails = qrCodeData.Split(',');

            if (qrDetails.Length >= 3) // Ensure QR Code has expected fields
            {
                grinding.Module = ExtractValue(qrDetails[2]);
                grinding.Users = ExtractValue(qrDetails[1]);
                grinding.SerialNumber = ExtractValue(qrDetails[0]); // This was missing!
            }
            else
            {
                Snackbar.Add("Invalid QR Code format. Please scan again.", Severity.Warning);
                return;
            }
        }
        else if (selectedReceive != null)
        {
            grinding.SerialNumber = selectedReceive.SerialNumber;
            grinding.Module = selectedReceive.Module;
            grinding.Users = selectedReceive.Customer;
            grinding.DateTime = selectedReceive.DateTime;
        }

        projectImagesDTO.SerialNumber = grinding.SerialNumber;

        var options = new DialogOptions { FullWidth = true };
        var parameters = new DialogParameters<ImageDisplayDialog>();
        // parameters.Add("ProjectImagesDTO", projectImagesDTO);
        parameters.Add("SerialNumber", grinding.SerialNumber);
        CompletionService.CompletionChanged += async (sender, args) =>
        {
            await UpdateProjectImageAsync();
        };

        DialogService.Show<AddFinalImages>("PROJECTIMAGES", parameters, DialogSettings.DialogOptionsAddEditDelete);
    }

    private async Task UpdateProjectImageAsync()
    {
        ProjectimagesData = await localStorage.GetItemAsync<FinalInspectionImageDTO>("ProjectImageData");

        selectedImagesFromSM.Clear(); // Clear old data if any

        if (ProjectimagesData?.Images != null && ProjectimagesData.Images.Any())
        {
            selectedImagesFromSM.Add(new FinalInspection
                {
                    SerialNumber = ProjectimagesData.SerialNumber?.Trim(),
                    Images = ProjectimagesData.Images.Select(img => new FinalImagedata
                    {
                    // Data = img.Data,
                    // ID = img.ITSImageID
                    }).ToList()
                });
        }

        StateHasChanged(); // ✅ This triggers UI refresh
    }

    public class FinalInspectionSubmit
    {
        public string? SerialNumber { get; set; }
        public string? Module { get; set; }
        public string? SalesOrderNumber { get; set; }
        public string? WorkOrder { get; set; }
        public string? MatNumber { get; set; }
        public string? Customer { get; set; }
        public string? Location { get; set; }
        public string? Received { get; set; }
        public string? Inspected { get; set; }
        public string? RotorsNumber { get; set; }
        public string? Initials { get; set; }
        public string? Make { get; set; }
        public string? Dia { get; set; }
        public string? Len { get; set; }
        public string? Fits { get; set; }
        public string? Materials { get; set; }
        public string? Others { get; set; }
        public string? RotorsDia { get; set; }
        public string? RotorStyle { get; set; }
        public string? Type { get; set; }
        public string? BearingRemoved { get; set; }
        public string? Bearing { get; set; }
        public string? BearingSeals { get; set; }
        public string? CeramicSeals { get; set; }
        public string? Right { get; set; }
        public string? yRight { get; set; }
        public string? Left { get; set; }
        public string? yLeft { get; set; }
        public string? BasicSharpening { get; set; }
        public string? IfYBasicSharpening { get; set; }
        public string? WedgelockAlignmentMarks { get; set; }
        public string? CenterGrinding { get; set; }
        public string? IfYCenterGrinding { get; set; }
        public string? Aligned { get; set; }
        public string? PlasticSleaves { get; set; }
        public string? Welding { get; set; }
        public string? WeldingNum { get; set; }
        public string? BedKnife { get; set; }
        public string? BoxReceivedWithSaddles { get; set; }
        public string? ReProfile { get; set; }
        public string? SandBlasting { get; set; }
        public string? ManualLabor { get; set; }
        public string? Bottom { get; set; }
        public string? Top { get; set; }
        public int? AddQty { get; set; }
        public string? TirLeftJournal { get; set; }
        public string? TirRightJournal { get; set; }
        public string? SaddlePartNumber { get; set; }
        public DateTime? DateTime { get; set; }
        public string? RotorCategorization { get; set; }
        public string? ComponentType { get; set; }
        public string? Users { get; set; }
        public DateTime? TargetDate { get; set; }
        public string? CustomerInstructions { get; set; }
        public string? CustomerImportance { get; set; }
        public DateTime? SubmitDate { get; set; }
        public string? SubmitedBy { get; set; }
        public string? AdvancedSharpingStatus { get; set; }
        public string? Workcenters { get; set; }
        public DateTime? ProductionSubmitDate { get; set; }
        public string? ProductionSubmitBy { get; set; }
        public string? RotorsDiaLeft { get; set; }
        public string? RotorsDiaRight { get; set; }
        public string? ReliefLand { get; set; }
        public string? ToothFaceLeft { get; set; }
        public string? ToothFaceRight { get; set; }
        public string? CentersLeft { get; set; }
        public string? CentersRight { get; set; }
        public string? VisualChecks { get; set; }
        public string? InspectedBy { get; set; }
        public DateTime? GrindingStartDate { get; set; }
        public string? GrindingEndDate { get; set; }
        public string? Notes { get; set; }
        public string? DelayReasonTracking { get; set; }
        public string? CustomerPoNum { get; set; }
        public string? DWGNum { get; set; }
        public string? AGNum { get; set; }
        public string? SpecialNoteComment { get; set; }
        public string? Dressedwithnewbearing { get; set; }
        public string? InspectorSing { get; set; }
        public string? Description { get; set; }
        public string? Oktoship { get; set; }
        public string? InspectorComments { get; set; }
        public string? Start { get; set; }
        public string? FluteDiameterStart { get; set; }
        public string? FluteDiameterFinish { get; set; }
        public string? LandWidthStart { get; set; }
        public string? LandWidthFinish { get; set; }
        public string? TIRStart { get; set; }
        public string? TIRfinish { get; set; }
        public string? TaperStart { get; set; }
        public string? Taperfinish { get; set; }
        public string? ReliefAngleStart { get; set; }
        public string? ReliefAngleFinish { get; set; }
        public string? LocknutThreadsStart { get; set; }
        public string? LocknutThreadsFinish { get; set; }
        public string? IstheRotorcleanStart { get; set; }
        public string? IstheRotorcleanfinish { get; set; }
        public string? JournalsOKStart { get; set; }
        public string? JournalsOKfinish { get; set; }
        public string? WedgelockassemblyStart { get; set; }
        public string? WedgelockassemblyFinish { get; set; }
        public string? SpecialPartWashStart { get; set; }
        public string? SpecialPartWashFinish { get; set; }
        public string? Finish { get; set; }
        public string? Name { get; set; }
        public DateTime? Date { get; set; }
        public string? GrindingSubmiteddBy { get; set; }
        public string? FinalInspectionSubmiteddBy { get; set; }
        public DateTime? FinalInspectionSubmitedByDate { get; set; }
    }


    private async Task ClearAll()
    {

        FinalInspectionData.CustomerPoNum = null;
        FinalInspectionData.DWGNum = null;
        FinalInspectionData.AGNum = null;
        FinalInspectionData.Description = null;
        FinalInspectionData.SpecialNoteComment = null;
        FinalInspectionData.Dressedwithnewbearing = null;
        FinalInspectionData.FluteDiameterFinish = null;
        FinalInspectionData.LandWidthFinish = null;
        FinalInspectionData.LandWidthStart = null;
        FinalInspectionData.ReliefAngleFinish = null;
        FinalInspectionData.ReliefAngleStart = null;
        FinalInspectionData.TaperStart = null;
        FinalInspectionData.Taperfinish = null;
        selectedLocknutThreads = null;
        selectedIstheRotorclean = null;
        selectedJournalsOK = null;
        selectedDescription = null;

        selectedWedgelockassembly = null;
        selectedSpecialPartWash = null;
        FinalInspectionData.InspectorSing = null;
        FinalInspectionData.InspectorComments = null;
        FinalInspectionData.Oktoship = null;


        qrCodeData = string.Empty;
        SelectedProject = null;
        ProjectimagesData = null;
        selectedImagesFromSM.Clear();

        // Reset serial number/module selections
        SelectedSerialNumber = null;
        SelectedModuleName = null;

        StateHasChanged();

    }

    private async Task FetchSerialNumberData(string serial)
    {
        try
        {
            var client = _httpClient.CreateClient("MES.ServerAPI"); // Ensure "MyAPI" is configured in Program.cs
            // var response = await client.GetAsync($"https://localhost:7172/api/RotorGrinding/{serial}");
            var response = await client.GetAsync($"{ApiConstants.GetDataFromGrinding}/{serial}");

            if (response.IsSuccessStatusCode)
            {
                serialNumberData = await response.Content.ReadFromJsonAsync<RotorGrindingData>();
                StateHasChanged(); // Force re-render to update UI
            }
            else
            {
                Snackbar.Add($"Serial number {serial} not found.", Severity.Warning);
                serialNumberData = null;
                showForm = false;
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add("Error fetching serial number data.", Severity.Error);
            serialNumberData = null;
        }
    }

    private string ExtractValue(string data)
    {
        var parts = data.Split(':'); // Check if the data has a label like "SerialNumber: 12345"
        return parts.Length > 1 ? parts[1].Trim() : parts[0].Trim(); // Return value without label
    }

    private void OnCameraPermissionFailed(string error)
    {
        cameraError = true;
        isScanning = false;
        isCancel = false;
        StateHasChanged();
    }

    public class ProjectImgDTO
    {
        public string SerialNumber { get; set; }

    }

}


<style>

    .my-centered-table .mud-table-cell,
    .my-centered-table .mud-table-header {
        text-align: center;
        vertical-align: middle;
    }

    .bordered-container {
        width: 100%;
        max-width: 100%;
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 30px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }


    .qr-item {
        margin: 1rem;
        font-size: 16px;
        white-space: nowrap; /* Ensures text stays in one line */
    }


    .full-width-grid {
        width: 100%;
        margin: 0;
    }

    .bordered-container {
        width: 100%;
        max-width: 100%;
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 30px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    .no-checkbox .mud-selected-item-checkbox {
        display: none !important;
    }


    .qr-container {
        justify-content: center;
        text-align: center;
        padding: 1rem;
    }

    .spaced-select .mud-input-label {
        margin-bottom: 6px; /* Adjust as needed */
    }

</style>

